http://localhost http://127.0.0.1 {
	rewrite /api/devel /api/devel/
	reverse_proxy /api/devel/* api-devel:8080
	
	rewrite /api/doc /api/doc/
	respond /api/doc/* "I love tea!" 418
	
	rewrite /api /api/
	reverse_proxy /api/* server:8080
	
	respond * "I love tea!" 418
}
